<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<!---elements filtered for desktop -->
<section class="ads" id="ads"></section>

<!---slider tablet -->
<section class="slidertablet" id="slidertablet"></section>

<!---slider mobile -->
<section class="slidermobile" id="slidermobile"></section>


